@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Charis SIL";
  src: url("public/fonts/CharisSILR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Charis SIL";
  src: url("public/fonts/CharisSILB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Charis SIL";
  src: url("public/fonts/CharisSILI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Charis SIL";
  src: url("public/fonts/CharisSILBI.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.oneChBody {
  /* color: white; */
  font-family: "Charis SIL";
  font-family: "Roboto", sans-serif;
  max-width: 45rem;
  margin: 0 auto;
}
.practice {
  margin-block: 2rem;
}
.practice p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.equationContainer {
  display: flex;
  gap: 0.5rem;
}
.mainInp{
  border-radius: .1rem;
}

h1{
  text-align: center;
  margin-block: 1rem;
}
.flex{
  display: flex;
  align-items: center;
  gap: 1rem;
}